html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    display: block;
    background-color: black;
}

#joystick_el {
    position: absolute;
    bottom: 75px;
    left: 75px;
    width: 100px;
    height: 100px;
}

#autosolve_button {
    position: absolute;
    display: flex;
    bottom: 75px;
    width: 75px;
    height: 75px;
    right: 75px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: large;
}